    
body{
    background-image: url("../images/background-cement-concrete-242236.jpg");
}
.container-nav{
    text-align: center;
    margin-top: 10px;
    
}
.container-search{
    margin-top: 10px;
    text-align: center;

}
.row{
    margin-left: 50px;
    margin-top: 50px;
}
img{
    height: 350px;
    width: 350px;
    padding: 10px;
}
.topic{
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
}